<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div id="wrapper">
            <div id="header">header</div>
            
            <div id="content">
                <div id="content_left">
                    
                </div>
                
                <div id="content_body">
                    
                </div>
                
                <div id="content_right">
                    
                </div>
            </div>
            
            <div id="footer">
                
            </div>
        </div>
    </body>
</html>